<%= form_for(@trouble) do |f| %>
  <% if @trouble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trouble.errors.count, "error") %> prohibited this trouble from being saved:</h2>

      <ul>
      <% @trouble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
       <%= f.label :user_id %><br>
       <%= f.number_field :user_id %>
       </div>
     -->
  <%= f.select :counselor_id, @counselors.collect{|c| [c.name, c.id]} %>
  <!-- <div class="field">
       <%= f.label :counselor_id %><br>
       <%= f.number_field :counselor_id %>
       </div> -->
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
