<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trouble.user.nickname %>
</p>

<p>
  <strong>Counselor:</strong>
  <%= @trouble.counselor_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @trouble.content %>
</p>

<p>
  <strong>Counselor Name:</strong>
  <%= link_to @trouble.counselor.name, counselor_path(@trouble.counselor.id) %>
</p>


<p>
  <strong>Counselor Message:</strong>
  <%= @trouble.counselor.response %>
</p>

<p><strong>Counselor Picture</strong></p>
<div class="counselor_image"><%= image_tag  @trouble.counselor.avatar , size: "100x100" %></div>


<%= link_to 'download LINE message', download_file_path(@trouble), data: { turbolinks: false } %>



<%= link_to 'Edit', edit_trouble_path(@trouble) %> |
<%= link_to 'Back', troubles_path %>
